body {
  background-color: whitesmoke;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.page-info {
  margin: 0 20px;
}

.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

Pagination styles .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination__link {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: white;
}

.pagination__link--disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination__link--active {
  color: #e6470d;
}
.tabledashbutton{
width:100%;
background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
}

.sidebarbg{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% );}
  
.navbarbg{
  background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
  }

  .maincon{
    background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );  }